@media print {
    * {
        page-break-inside: avoid !important;
    }
    *:before,
    *:after {
        background: transparent !important;
        box-shadow: none !important;
        color: #000 !important;
        text-shadow: none !important;
    }
    .new-page {
        page-break-before: always !important;
    }
}

a,
a:visited {
    text-decoration: underline;
}

pre,
blockquote {
    border: 2px solid #999;
    page-break-inside: avoid;
}

tr,
img {
    page-break-inside: avoid;
}

img {
    max-width: 95% !important;
}

h1,
h2,
h3 {
    page-break-after: avoid !important;
}

pre {
    padding: 0.5rem;
}

a,
a:visited {
    color: #3498db;
}

a:hover,
a:focus,
a:active {
    color: #2980b9;
}

.modest-no-decoration {
    text-decoration: none;
}

html {
    font-family: 'Titillium Web', sans-serif;
    font-size: 13pt;
    line-height: 1.3;
    background-color: #fff !important;
    color: #000;
    max-width: 100%;
    min-height: 100vh;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
    html {
        font-size: 13px;
    }
}

@media screen and (min-width: 48rem) {
    html {
        font-size: 14px;
    }
}

body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

p,
.modest-p {
    font-size: 1rem;
    page-break-inside: avoid !important;
    margin-bottom: 1.3rem;
}

blockquote > p {
    margin-bottom: 0.5rem !important;
    margin: 0.5rem !important;
    font-size: large;
}

small,
.modest-small {
    font-size: 0.707em;
}

canvas,
iframe,
video,
svg,
select,
textarea {
    max-width: 100%;
    overflow: hidden;
}

body {
    font-size: 100%;
    color: #444;
    font-weight: 300;
    margin: 0 auto;
    padding: 0.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    color: #000;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.1rem;
    width: fit-content !important;
}

h1,
h2 {
    text-align: center;
}

h1 {
    font-size: 150%;
}

h1:first-of-type {
    text-align: left !important;
    font-weight: bold;
    font-size: 160%;
}

h2 {
    font-size: 145%;
}

h3,
h4,
h5 {
    font-size: 135%;
}

table {
    border-spacing: 1rem !important;
    border-collapse: collapse !important;
    width: 100%;
    display: flex !important;
    flex-wrap: wrap;
    margin: 1rem;
}

th {
    background-color: #2e2e2e;
    color: white;
    padding: 0.5rem !important;
}

tr:hover {
    background-color: #f5f5f5;
}

td {
    padding: 0.2rem !important;
    text-align: left;
    border-bottom: 0.1rem solid #2e2e2e;
}

ul {
    overflow: hidden;
    list-style: circle;
}

ul > li {
    list-style: none;
}

ul > li::before {
    content: '-';
    margin-right: 0.3rem;
}

.btn {
    text-transform: unset !important;
}

.full {
    height: 100vh !important;
    width: 100vh !important;
}

.break {
    page-break-after: always !important;
}

/* toc */

nav {
    page-break-after: always;
}

nav::before {
    content: 'Table of contents';
    font-size: 150%;
    text-rendering: optimizeLegibility;
    font-weight: bold;
    border-bottom: 1px solid #2e2e2e;
}

nav > ul {
    list-style-type: armenian !important;
}

nav > ul > li::before {
    content: none !important;
}
nav > ul > li {
    font-size: large;
}

.footnotes {
    page-break-before: always;
}

.footnotes > hr {
    border: none;
}

.footnotes > hr::before {
    content: 'Footnotes';
    font-size: 150%;
    text-rendering: optimizeLegibility;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.1rem;
    border-bottom: 1px solid #2e2e2e;
}

.footnote-back {
    margin-left: 1rem;
}

.sourceLine {
    word-wrap: normal;
    padding-bottom: 0;
    margin-bottom: 0;
}

code.sourceCode {
    white-space: pre !important;
}
a.sourceLine {
    text-indent: -0.5em;
    padding-left: 0.5em;
}

a.sourceLine::before {
    content: attr(title);
    position: relative;
    left: -1em;
    text-align: right;
    vertical-align: baseline;
    pointer-events: all;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 4px;
    width: 2em;
    color: #7a7c7d !important;
    border: none;
    border-right: 1px solid darkgray !important;
}
