on: [push]

name: CI

env:
    CARGO_TERM_COLOR: always

jobs:
    build_and_test:
        name: Rust project
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions-rs/toolchain@v1
              with:
                  toolchain: stable
            - uses: Swatinem/rust-cache@v1
            - uses: bahmutov/npm-install@v1
              with:
                  working-directory: src/assets
            - name: Install wkhtmltox
              run: |
                  wget https://github.com/wkhtmltopdf/packaging/releases/download/0.12.6-1/wkhtmltox_0.12.6-1.focal_amd64.deb
                  sudo apt install -y ./wkhtmltox_0.12.6-1.focal_amd64.deb
            - name: Build
              run: make dev
