on: [push]

name: CI

env:
    CARGO_TERM_COLOR: always

jobs:
    build_and_test:
        name: Rust project
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions-rs/toolchain@v1
              with:
                  toolchain: stable
            - uses: Swatinem/rust-cache@v1
            - uses: bahmutov/npm-install@v1
                with:
                  working-directory: src/assets
            - name: Install GNU make
              run: |
                  sudo apt update
                  sudo apt install make
            - name: Build
              run: make build
